<div class="container">
  <p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-8">
    <ul class="list-unstyled">
      <% @concept.tips.each do | tip | %>
          <li><%= tip.problem %></li>
          <li><%= tip.solution %></li>
          <li><%= tip.error %></li>
      <% end %>
    </ul>
  </div>
</div>





<%= link_to 'New Tip', new_concept_tip_path(@concept) %><br>

</div>