<div class="container">
  <p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-10 col-md-8">
    <ul class="list-unstyled">
      <% @concept.tips.each do | tip | %>
          <center><div class="panel-heading"><%= @concept.concept  %></div></center>
          <div class="panel panel-default">
            <div class="panel-body">
              <li><%= tip.problem %></li>
              <li><%= tip.solution %></li>
              <li><%= tip.error %></li>
            </div>
          </div>
      <% end %>
    </ul>
  </div>
</div>





<%= link_to 'new tip', new_concept_tip_path(@concept), class: 'btn btn-primary btn-lg'%><br>

</div>