<%= form_for([@concept, @tip]) do |f| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% @tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name', :required => true, :autofocus => true %>


    <fieldset>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">problem</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">error</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>

      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">solution</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea"></textarea>
          <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= submit_tag 'submit', class: 'btn btn-primary' %>
        </div>
      </div>
    </fieldset>
<% end %>
